body {
  font-family: "Poppins", sans-serif;
  background-color: #ebf0f6;
}

/* Headers */

h1,
h2,
h3,
p {
  color: #18334d;
  font-weight: 300;
}

h1 {
  font-size: 620%;
  justify-self: center;
  margin-top: 0.8rem;
  font-weight: 200;
  letter-spacing: -0.4rem;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 1rem;
  line-height: 120%;
  padding-left: 0;
}

p {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 46rem;
  margin: 3.5rem auto 1.5rem;
}

.weather-app {
  background-color: #fff;
  border-radius: 80px;
  max-width: 46rem;
  padding: 1.5rem;
  box-shadow: 9px 9px 24px 6px #13223811;
}

/* Navbar */

input.search-field {
  border-radius: 60px;
  background-color: #ebf0f58c;
  border: 1px solid #ebf0f58c;
  color: #18334d;
  font-size: 13px;
  font-weight: 300;
  line-height: 0;
  width: 13rem;
  padding: 0 16px 1px 20px;
}

input.search-field:active,
input.search-field:hover,
input.search-field:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
  color: #18334d;
  border: 1px solid #ebf0f58c;
  background-color: #ebf0f58c;
  overflow: none;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

input.search-field::placeholder {
  color: #18334d25;
}

button.btn-search,
button.btn-search:focus {
  background-color: #18334d;
  border-radius: 60px;
  border: none;
  height: 40px;
  padding: 0;
  margin-left: 10px;
  width: 40px;
  transition: all 200ms ease-in-out;
}

button.btn-search:hover,
button.btn-search:active {
  outline: none;
  box-shadow: 4px 8px 16px #13223834;
  border: none;
}

button .img-button {
  width: 26px;
  height: 26px;
}

/* Current Weather */

.current-weather {
  padding: 1.2rem 2rem 1rem;
}

img.weather-img {
  height: 7rem;
  width: 7rem;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  font-weight: 300;
  font-size: 0.9rem;
  list-style-type: none;
  color: #18334d7e;
  line-height: 160%;
  letter-spacing: 0.01rem;
}

li::first-letter {
  text-transform: capitalize;
}

.units a {
  padding-left: 0;
  color: #18334d25;
  letter-spacing: -0.06rem;
}

.units .active {
  font-weight: 300;
  color: #18334d;
  cursor: default;
}

.unitis .active:hover {
  cursor: default;
}

/* Forecast */

.week-forecast {
  padding: 1.6rem 2rem 1rem;
}

p .p-soft {
  color: #18334d6e;
}
.img-forecast-sm {
  padding: 0.5rem 0 1rem;
  width: 50px;
}

/* source code label  */
.by-label {
  font-size: 0.9rem;
  padding-top: 1.4rem;
  color: #18334d80;
  font-weight: 200;
  text-align: center;
  font-family: monospace;
}
.by-label a {
  color: #18334dd2;
}
.by-label a:active,
.by-label a:hover {
  color: #18334d;
}
